button {
    border: none;
    outline: none;
}

html,
body {
    min-height: 100%;
}

body {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'DM Sans', 'Bebas Neue' sans-serif;
    color: #555;
    line-height: 160%;
    /* 2.4rem */
    background-color: #fff;

    &.lock {
        overflow: hidden;
    }
}

.wrapper {
    min-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

.wrapper main {
    flex-grow: 1;
}

[class*="__container"] {
    box-sizing: border-box;
    max-width: 1690px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    cursor: pointer;
}

img {
    max-width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    gap: clamp(1rem, 0.8832rem + 0.5839vw, 1.5rem);
    color: #252525;
    font-family: "DM Sans";
    font-size: 2.5em;
    font-weight: 700;
}

.burger {
    display: none;
    width: 24px;
    height: 18px;
    position: relative;

    & span {
        position: absolute;
        background-color: #000;
        left: 0;
        width: 100%;
        height: 4px;
        top: 50%;
        transition: all 0.3s ease 0s;
        border-radius: 30px;
    }

    &:before,
    &:after {
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        transition: all 0.3s ease 0s;
        border-radius: 30px;
    }

    &:after {
        top: 100%;
    }

    &.active {
        z-index: 12;
        transition-duration: 0.3s;

        & span {
            display: none;
        }

        &::before {
            transform: rotate(45deg);
            top: 9px;
            width: 30px;
            height: 2px;
        }

        &::after {
            transform: rotate(-45deg);
            top: 9px;
            width: 30px;
            height: 2px;
        }
    }
}

.overlay,
.overlay-login {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;

    &.active {
        visibility: visible;
        opacity: 1;
        z-index: 10;
    }
}

button {
    background-color: inherit;
}

.button {
    color: #33B786;
    font-family: "DM Sans";
    font-size: clamp(1rem, 0.8832rem + 0.5839vw, 1.5rem);
    font-weight: 500;
    border-radius: 0.625rem;
    border: 3px solid #33B786;
    padding: clamp(0.75rem, 0.6916rem + 0.292vw, 1rem) clamp(1.75rem, 1.5748rem + 0.8759vw, 2.5rem);
    background-color: #D4F3E7;
    transition: all 0.2s;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
        background-color: #288F69;
        border-color: #288F69;
        color: #fff;

        & span::before {
            color: #fff;
        }
    }

}

.button-green {
    background-color: #33B786;
    color: #fff;
}

.socials {

    // .socials__list

    &__list {
        display: flex;
        gap: 1rem;
    }

    // .socials__item

    &__item {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background-color: #33B786;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
            background-color: #288F69;
        }
    }
}

