.header {
    background-color: #D4F3E7;
    padding: 4em 15px;

    &__container {
        display: grid;
        grid-template-columns: 0.3fr 1fr;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        flex: 0 1 24.392857%;
        /* 393/1680 */
    }

    &__navigator {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 0 1 73%;
        flex-wrap: wrap;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: clamp(2rem, 1.5328rem + 2.3358vw, 4rem);
    }

    &__link {
        color: #252525;
        font-family: "DM Sans";
        font-size: clamp(1rem, 0.8832rem + 0.5839vw, 1.5rem);
        font-weight: 400;
        line-height: 1;

        &:hover {
            text-decoration: underline;
        }
    }
}

.hero {
    background-color: #D4F3E7;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 8.3125rem;
        padding-top: 4rem;
        gap: 4rem;
    }

    // .hero__content

    &__content {
        max-width: 48.3125rem;
    }

    // .hero__subtitle

    &__subtitle {
        color: #33B786;
        font-family: "DM Sans";
        font-size: clamp(1.25rem, 1.0748rem + 0.8759vw, 2rem);
        font-weight: 500;
        line-height: 1;
        margin-bottom: 0.25rem;
    }

    // .hero__title

    &__title {
        color: #252525;
        font-family: "DM Sans";
        font-size: clamp(3rem, 2.5328rem + 2.3358vw, 5rem);
        font-weight: 700;
        line-height: 1;
        margin-bottom: 2.5rem;
    }

    // .hero__text

    &__text {
        color: #555;
        font-family: "DM Sans";
        font-size: clamp(1rem, 0.8832rem + 0.5839vw, 1.5rem);
        font-weight: 400;
        line-height: 160%;
        max-width: 45rem;
        margin-bottom: 5rem;
    }

    // .hero__buttons

    &__buttons {
        display: flex;
        gap: 2.5rem;
        flex-wrap: wrap;
    }

    &__button {
        display: flex;
        align-items: center;

        & span {
            display: inline-block;
            margin-left: 0.5rem;
        }
    }
}

.services {

    &__container {
        padding-top: 7.5em;
        padding-bottom: 7.5em;
    }

    &__title {
        color: #252525;
        font-family: "DM Sans";
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 6rem;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: clamp(3rem, 2.2993rem + 3.5036vw, 6rem);
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        gap: 2.5rem;
    }

    &__item-title {
        margin-bottom: 1.5rem;
        color: #33B786;
        font-family: "DM Sans";
        font-size: clamp(1.5rem, 1.2664rem + 1.1679vw, 2.5rem);
        font-weight: 700;
        line-height: 1;
    }

    &__item-text {
        max-width: 40rem;
        color: #555;
        font-family: "DM Sans";
        font-size: clamp(1rem, 0.8832rem + 0.5839vw, 1.5rem);
        font-weight: 400;
        line-height: 160%;
    }
}

.faqs {
    background-color: #D4F3E7;
    padding: 7.5rem 0;

    &__container {
        display: grid;
        align-items: center;
        gap: 6rem;
    }

    &__title {
        grid-column: 1 / span 2;
        grid-row: 1;
        color: #252525;
        font-family: "DM Sans";
        font-size: 4rem;
        font-weight: 700;
        line-height: 1
    }

    &__content {
        display: none;
        max-width: 55.5rem;

        &.active {
            display: block;
        }
    }

    &__question {
        color: #33B786;
        font-family: "DM Sans";
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.2;
        max-width: 43.5rem;
    }

    &__text {
        color: #555;
        font-family: "DM Sans";
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 160%;
        margin-top: 4rem;
    }

    &__tabs {
        display: grid;
        grid-row: 2;
        grid-column: 2;
        gap: 3.06rem;
    }

    &__tab {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        background-color: inherit;
        color: #46237A;
        font-family: "DM Sans";
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1;
        cursor: pointer;

        &.active {
            & span:first-child {
                text-decoration: underline;
            }
        }

        & span {
            &:first-child {
                flex: 0 1 35rem;
            }

            display: inline-block;

            &::before {
                color: #46237A;
            }
        }
    }
}

.support {

    &__container {
        text-align: center;
        padding-top: 7.5em;
        padding-bottom: 7.5em;
    }

    &__title {
        color: #252525;
        text-align: center;
        font-family: "DM Sans";
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 6rem;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2.5em;
    }
}

.footer {
    background-color: #D4F3E7;
    padding-top: 7.5rem;

    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__content {
        flex: 0 1 32.781065%;
        display: grid;
        gap: 9rem;
        padding-bottom: 6rem;
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
    }

    &__block-title {
        color: #33B786;
        font-family: "DM Sans";
        font-size: clamp(1.7rem, 1.5957rem + 0.5217vw, 2rem);
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }

    &__block-list {
        display: grid;
        gap: 1.5rem;
        color: #6C6C6C;
        font-family: "DM Sans";
        font-size: clamp(1.2rem, 1.0957rem + 0.5217vw, 1.5rem);
        font-weight: 500;
        line-height: 160%;

        & li {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__copyright {
        color: #6C6C6C;
        font-family: "DM Sans";
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 160%;
        margin-bottom: 1.5rem;
    }

    &__banner {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 0 1 62.366864%;
        background-repeat: no-repeat;
        border-radius: 6.25rem 0 0 0;
        justify-content: flex-end;
        box-sizing: border-box;
        padding: 0rem 7.5rem 6rem 7.5rem;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-image: url('../images/footer.jpg');
            mix-blend-mode: multiply;
            z-index: 0;
        }

        &>* {
            position: relative;
            z-index: 1;
        }
    }

    &__question {
        color: #FFF;
        font-family: "DM Sans";
        font-size: clamp(2rem, 1.8261rem + 0.8696vw, 2.5rem);
        font-weight: 400;
        line-height: 1;
    }

    &__title {
        color: #FFF;
        font-family: "DM Sans";
        font-size: clamp(2.75rem, 2.3152rem + 2.1739vw, 4rem);
        font-weight: 700;
        line-height: 1.3;
        margin-top: 1.19rem;
        margin-bottom: 2.62rem;
        max-width: 37rem;
    }

    &__form {
        display: flex;
        align-items: center;
        gap: 2rem;

        & input {
            padding: 1rem 0rem 1.13rem 1.69rem;
            border-radius: 0.75rem;
            border: 2px solid #E74F5B;
            background: rgba(255, 255, 255, 0.10);
            box-shadow: 0 0 50px 0.5px rgba(0, 0, 0, 0.05);
            backdrop-filter: blur(5px);
            color: #B8B8B8;
            font-family: "DM Sans";
            font-size: clamp(1.25rem, 1.163rem + 0.4348vw, 1.5rem);
            font-weight: 700;
            line-height: 1;
            flex-grow: 1;
            box-sizing: border-box;

            &::placeholder {
                color: #B8B8B8;
            }
        }
    }

    &__button {
        padding-left: 3.25rem;
        padding-right: 3.25rem;
        padding: 1.06rem 3.25rem 1.06rem 3.19rem;
        font-weight: 700;
        font-size: clamp(1.25rem, 1.163rem + 0.4348vw, 1.5rem);
    }
}
