// Login / Register
.login,
.register {
    background-color: #D4F3E7;

    &__container {
        display: flex;
        justify-content: space-between;
        height: 100vh;
        align-items: center;
    }

    &__content {
        flex: 0 1 53%;
        display: flex;
        flex-direction: column;
    }

    &__box--text {
        flex: 0 1 100%;
        margin-top: 8.5rem;
        margin-bottom: 6.5rem;
    }

    &__text {
        margin-bottom: 0;
    }

    &__boxes {
        width: 45.38%;
        position: relative;
        min-height: 100%;
        display: flex;
        align-items: center;
    }

    &__box {
        position: absolute;
        visibility: none;
        opacity: 0;
        border-radius: 2rem;
        background-color: #FFF;
        box-shadow: 0 0 150px 25px rgba(51, 183, 134, 0.25);
        padding: clamp(2.5rem, 1.8391rem + 3.3043vw, 4.4rem);
        width: 100%;
        box-sizing: border-box;
        right: 0;
        transition: all 1s;

        &.active {
            visibility: visible;
            opacity: 1;
            z-index: 2;
        }
    }

    &__form-title {
        color: #33B786;
        font-family: "DM Sans";
        font-size: clamp(1.5rem, 1.1522rem + 1.7391vw, 2.5rem);
        font-weight: 700;
        line-height: 114%;
        margin-bottom: 3.05rem;
    }

    &__input-box {
        flex: 0 1 100%;
        padding: 1.31em 0 1.38em 1.5em;
        box-shadow: 0 0 50px 0.5px rgba(0, 0, 0, 0.05);
        border: 1px solid #8A8A8A;
        border-radius: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__input {
        display: flex;
        flex-direction: column;
        gap: 0.44em;
        background-color: #fff;
        margin-bottom: 1.5rem;

        & label {
            color: #252525;
            font-family: "DM Sans";
            font-size: 1em;
            font-weight: 700;
        }

        & input {
            font-family: "DM Sans";
            font-size: 1rem;
            font-weight: 500;
            flex: 0 1 80%;
            border: none;
            outline: none;

            &::placeholder {
                color: #B8B8B8;
            }
        }
    }

    &__button {
        cursor: pointer;
        width: 100%;
        color: #FFF;
        text-align: center;
        font-family: "DM Sans";
        font-size: 1.5rem;
        font-weight: 700;
        border-radius: 0.75rem;
        background: #33B786;
        box-shadow: 0 0 50px 0.5px rgba(0, 0, 0, 0.05);
        padding: 1rem;
        border: none;
        margin-top: 1.5em;
    }

    &__input-icon {
        font-size: 1.5rem;
        margin-right: 1.6rem;
    }

    &__error {
        font-size: 0.9rem;
        color: red;
        font-family: "DM Sans";
        display: none;
    }

    &__error-password--requirements {
        list-style-type: disc;
        padding-left: 1.5rem;
    }

    &__password-forgot {
        position: relative;
        color: #33B786;
        font-family: "DM Sans";
        font-size: 1rem;
        font-weight: 700;
        line-height: 1;
        margin-right: 1.5rem;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            display: block;
            top: -60%;
            left: -1.5rem;
            width: 0.125rem;
            height: 2.5rem;
            background-color: #B8B8B8;
        }
    }

    &__question,
    &__question-btn {
        margin-top: 1.5rem;
        color: #B8B8B8;
        font-family: "DM Sans";
        font-size: 1rem;
        font-weight: 500;
        line-height: 1;
    }

    &__question-btn {
        cursor: pointer;
        display: inline-block;
        color: #33B786;
        font-weight: 700;
        margin-left: 0.2rem;
        font-size: 1rem;

        &:hover {
            text-decoration: underline;
        }
    }
}