@media(max-width: 1439px) {
    .header {
        &__container {
            grid-template-columns: auto 1fr;
        }
    }

    .hero {
        &__image {
            display: flex;
            justify-content: center;
            flex: 0 1 100%;

            & img {
                max-width: 70%;
            }
        }
    }

    .dashboard {
        &__header {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            gap: 1rem;
        }

        &__title {
            grid-column: 1;
            grid-row: 1;
        }

        &__account-info {
            grid-column: 2;
            grid-row: 1;
        }

        &__left {
            grid-column: 1 / span 2;
            grid-row: 2;
        }

        &__left {
            margin-left: 0;
        }

        &__search {
            flex: 0 1 90%;
        }

        &__section--overview {
            grid-template-columns: 1fr;
            gap: 10px;
        }
    }

    .section {
        &__accounts-transactions {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .footer {
        &__container {
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }

        &__content {
            display: grid;
            grid-template-columns: auto 0.9fr;
            grid-template-rows: auto auto;
            gap: 3rem;
            width: 100%;
            justify-content: space-between;
        }

        &__navigation {
            grid-column: 2;
            grid-row: 1 / span 2;
        }

        &__banner {
            width: 100%;
            min-height: 50rem;

            &::before {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media(max-width: 1023px) {
    .support {
        &__list {
            row-gap: 5rem;
        }

        &__item {
            flex: 0 1 45%;

            & img {
                max-width: 75%;
            }
        }
    }

    .section {
        &__content {
            gap: 1em;
        }

        &__content-accounts {
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
        }

        &__accounts-row {
            column-gap: 0;
        }

        &__transactions-list--full &__transactions-info {
            grid-template-columns: repeat(3, 1fr);
        }

        &__transactions-info {
            display: grid;
            column-gap: 1rem;
            row-gap: 1rem;
            align-items: center;
        }

        /* ---- Row 1 ---- */
        &__transactions-circle {
            grid-column: 1;
            grid-row: 1;
        }

        &__transactions-date {
            grid-column: 2;
            grid-row: 1;
        }

        &__transactions-list--full &__transactions-value {
            grid-column: 3;
            grid-row: 1;
            justify-self: flex-end;
        }

        /* ---- Row 2 ---- */
        &__transactions-source {
            grid-column: 1 / span 2;
            grid-row: 2;
        }

        &__transactions-status {
            grid-column: 2 / span 3;
            grid-row: 2;
            text-align: right;
        }

    }

    .login {
        &__container {
            flex-wrap: wrap;
            gap: 7rem;
            justify-content: center;
            padding-top: 3rem;
            padding: 3rem 0.5rem 0 0.5rem;
        }

        &__content {
            flex: 0 1 100%;
        }

        &__box--text {
            flex: 0 1 100%;
            margin-top: 7rem;
            margin-bottom: 2rem;

            p {
                margin-bottom: 0;
            }
        }

        &__boxes {
            flex: 0 1 100%;
        }

        &__box {
            padding: 4rem 0.5rem;
        }
    }

    .register__box {
        margin-top: 10rem;
    }

    .account {
        &__message {
            width: 80%;
        }
    }

    .faqs {

        &__container {
            gap: 0;
            row-gap: 4rem;
        }

        &__tabs {
            grid-row: 3;
            grid-column: initial;
            gap: 3.06rem;
        }
    }

    .footer {
        &__content {
            grid-template-columns: 0.7fr 0.9fr;
        }

        &__banner {
            padding-right: 2rem;
            padding-left: 2rem;
        }
    }

}

@media(max-width: 767px) {
    .burger {
        display: block;
        position: absolute;
        top: 4.35rem;
        left: 1rem;
        z-index: 13;
    }

    .header {
        &__container {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            gap: 0;
            row-gap: 2rem;
        }

        &__logo {
            grid-column: 1 / span 2;
            display: flex;
            justify-content: center;
        }
    }

    .support {
        &__list {
            row-gap: 5rem;
        }

        &__item {
            flex: 0 1 40%;

            & img {
                max-width: 100%;
            }
        }
    }

    .dashboard {
        &__header {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
        }

        &__burger {
            grid-row: 1;
            grid-column: 1;
        }

        &__title {
            grid-column: 1 / span 2;
            grid-row: 1;
            text-align: end;
        }

        &__account-info {
            grid-column: 1 / span 2;
            grid-row: 2;
        }

        &__search {
            flex: 0 1 60%;
        }

        &__search-icon {
            width: 1.5rem;
            height: 1.5rem;

            & img {
                max-width: fit-content;
            }
        }

        &__left {
            grid-column: 1 / span 2;
            grid-row: 3;
            margin-left: 0;
            gap: 0.25rem;
        }

        &__logo {
            display: none;
        }

        &__sidebar {
            display: block;
            position: fixed;
            left: -200%;
            padding-left: 1.25rem;
            z-index: 11;
            width: 60%;
            height: 100%;
            flex: 0 1 auto;
            padding-top: 10em;
            transition: all 0.2s ease;
            flex-direction: column;
            background-color: #fff;
            border-radius: 1.25rem 1.25rem 0rem 0rem;

            &.active {
                left: 0;
            }
        }

        &__logout {
            margin-top: 3rem;
        }

        &__content {
            margin-left: 0;
        }

        &__notifications-list {
            right: -310%;
        }
    }

    .section {
        &__accounts-row {
            grid-template-columns: 1fr;
        }

        &__content-accounts &__block {
            border-radius: 0.75rem;
            background: #D4F3E7;
            padding: 1.5em 1.5em;
        }

        &__accounts-transactions {
            grid-template-columns: 1fr;
            gap: 2em;
            max-width: 100%;
        }

        &__statistics-row {
            display: grid;
            grid-template-columns: 1fr 1fr auto;
        }

        &__statistics-img {
            display: none;
        }

        &__statistics-range {
            margin: 0.5em;
        }

        &__transactions-all>&__row {
            gap: 2em;
            max-width: 100%;
            box-sizing: border-box;
        }
    }

    .account {

        &__modal,
        &__message {
            width: 95%;
            padding: 3rem 2rem;
        }

        &__input-select {
            grid-template-columns: 1fr;
            gap: 1rem;
        }

        &__buttons {
            flex-direction: column;
        }
    }

    .footer {
        &__container {
            position: relative;
        }

        &__content {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            gap: 4.5rem;
        }

        &__navigation {
            grid-column: 1;
            grid-row: 3;
        }

        &__title {
            margin-bottom: 3rem;
        }

        &__form {
            flex-direction: column;
            gap: 3rem;

            & input {
                min-width: 100%;
            }
        }

        &__button {
            min-width: 100%;
        }
    }
}